{
    "googleOAuthId": "<google-oauth-id>.apps.googleusercontent.com",
    "adminGoogleId": "<google user id>",
    "INSTANCE_CONNECTION_NAME": "192.168.0.2", // <project-id>:europe-west1:stockdb or IP address
    "SQL_USER": "root",
    "SQL_PASSWORD": "<your pw>",
    "SQL_DATABASE": "stock",
    "SQL_USE_UNIXSOCKET": true // false for tcp connection, true for GCP connection
    "FIXER_IO_ACCESS_TOKEN": "a1b2...."
}