<h3>Portfolio</h3>

<table class="table table-striped table-bordered table-sm" *ngIf="portfolio_overview">
    <tbody>
    <tr><td>Cash</td><td style="text-align: right" colspan="2">{{portfolio_overview.currentcash | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td></tr>
    <tr><td>Stock value</td><td style="text-align: right" colspan="2">{{portfolio_overview.stock_sum | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td></tr>
    <tr><td>Depot Total</td><td style="text-align: right" colspan="2">{{portfolio_overview.depot_total_value | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td></tr>
    <tr><td>Profit %</td><td style="text-align: right" colspan="2">{{portfolio_overview.totalprofit_perc * 100 | number:'1.0-2':'de'}}%</td></tr>
    <tr><td>Profit % p.a.</td><td style="text-align: right" colspan="2">{{portfolio_overview.depotAnnualPercentage * 100 | number:'1.0-2':'de'}}%</td></tr>
    <tr>
      <td>Deposit</td>
      <td style="text-align: right" colspan="2">{{portfolio_overview.totaldeposit | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td>
    <tr *ngFor="let yearentry of portfolio_overview.annualoverview">
      <td class="small">Deposit {{yearentry.year}}</td>
      <td class="small" style="text-align: right">{{yearentry.cashinyear | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td>
      <td class="small" style="text-align: right">Perf. {{ yearentry.deltaPerc | number:'1.1-1':'de' }}%</td>
    </tr>
    </tbody>
</table>
<h3>Chart</h3>
<div class="container-fluid" *ngIf="chartDataLoaded">
    <canvas mdbChart class="container-sm" style="max-width: 500px"
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div>
<h3>Detail progress</h3>
<table class="table table-striped table-bordered table-sm" *ngIf="portfolio_overview">
  <thead class="thead-dark">
    <tr>
      <th><button (click)="updateMyPortfolioPrices()" *ngIf="hasUserRights('alphavantage')">Update my prices</button></th>
      <th>Stock</th>
      <th *ngFor="let d of portfolio_overview.overview_cols">{{d.yyyymm}}<br>{{d.timestr}}</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of filteredTableEntries">
    <td>
        <button [routerLink]="['/price/',p.isin, p.name, p.currency, p.symbol]"><span class="oi oi-dollar"></span></button>
        <button [routerLink]="['/transactions/',p.isin,p.amount]"><span class="oi oi-document"></span></button>
    </td>
    <td>{{p.name}} <span class="small"><br>
        {{p.amount}}x | {{p.lastprice * p.amount | number:'1.0-0':'de'}}&nbsp;{{p.currency}} | {{ ((p.lastprice / (-1 * p.entryprice / p.amount)) - 1) * 100 | number:'1.1-1':'de' }}% |
        {{p.lastpricedatediff}}d
      </span>
    </td>
    <td *ngFor="let t of p.timeseries | keyvalue">
      <span class="small">{{t.value.price | number:'1.2-2':'de'}}&nbsp;{{p.currency}}</span><br>
      <span [ngClass]="t.value.growth < 0 ? 'negative' : (t.value.growth > 0 ? 'positive': 'zero')">{{t.value.growth * 100 | number:'1.1-1':'de'}}%
      </span>
    </td>
  </tr>
  </tbody>
</table>
