<h3>Portfolio</h3>
<div style="margin: 5px;">
    <button [routerLink]="['/transactions']"><span class="oi oi-document"></span></button>
</div>

<h3>Overview</h3>
<table class="table table-striped table-bordered table-sm" *ngIf="portfolio_overview">
    <tbody>
    <tr><td>Cash</td><td style="text-align: right">{{portfolio_overview.currentcash | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td></tr>
    <tr><td>Stock value</td><td style="text-align: right">{{portfolio_overview.stock_sum | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td></tr>
    <tr><td>Depot Total</td><td style="text-align: right">{{portfolio_overview.depot_total_value | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td></tr>
    <tr><td>Profit %</td><td style="text-align: right">{{portfolio_overview.totalprofit_perc * 100 | number:'1.0-2':'de'}}%</td></tr>
    <tr><td>Profit % p.a.</td><td style="text-align: right">{{portfolio_overview.depotAnnualPercentage * 100 | number:'1.0-2':'de'}}%</td></tr>
    <tr>
      <td>Deposit</td>
      <td style="text-align: right">{{portfolio_overview.totaldeposit | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td>
    <tr *ngFor="let yearentry of portfolio_overview.annualoverview">
      <td class="small">Deposit {{yearentry.year}}</td>
      <td class="small" style="text-align: right">{{yearentry.cashinyear | number:'1.0-0':'de'}} {{portfolio_overview.currency}}</td>
    </tr>
    </tbody>
</table>

<h3>Detail progress</h3>
<table class="table table-striped table-bordered table-sm" *ngIf="portfolio_overview">
  <thead class="thead-dark">
    <tr>
      <th>Stock</th>
      <th *ngFor="let d of portfolio_overview.overview_col_headers">{{d}}</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of portfolio_overview.overview">
    <td>{{p.name}} <span class="small">{{p.isin}}</span></td>
    <td *ngFor="let t of p.timeseries | keyvalue">
      <span class="small">{{t.value.price | number:'1.0-2':'de'}} {{p.currency}}</span><br>
      <span [ngClass]="t.value.growth < 0 ? 'negative' : (t.value.growth > 0 ? 'positive': 'zero')">{{t.value.growth * 100 | number:'1.0-2'}}%</span>
    </td>
  </tr>
  </tbody>
</table>
