<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/"><span class="oi oi-home"></span></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="user" class="collapse navbar-collapse" id="navbarSupportedContent">    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn nav-link" routerLink="/report"><span class="oi oi-bar-chart"></span> Report</button>
      </li>
      <li class="nav-item">
          <button class="btn nav-link" routerLink="/stock-form"><span class="oi oi-briefcase"></span> Stocks</button>
        </li>
      <li class="nav-item">
        <span class="btn nav-link"><img class="img-responsive photo" src="{{ user.photoUrl }}" height="22" *ngIf="user.photoUrl != undefined"><span class="oi oi-person" *ngIf="user.photoUrl == undefined"></span> {{ user.name }}</span>
      </li>
      <li class="nav-item">
        <button class="btn nav-link" (click)="signOut()"><span class="oi oi-account-logout"></span> Logout</button>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="user" style="text-align:center">
  <router-outlet></router-outlet>
</div>

<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center">
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google">Sign in with Google</span></button>
    </div>
  </div>
   
</div>
