<h3>{{title}} for {{name}} ({{isin}})</h3>

<div class="container-fluid">

  <form #priceForm="ngForm">
    <div class="row">
      <div class="col-md-4" style="text-align: center">
        Go to
        <button [routerLink]="['/price/',isin, name, currency]" *ngIf="type == 'dividend'"><span class="oi oi-dollar"></span></button>
        <button [routerLink]="['/dividend/',isin, name, currency]" *ngIf="type == 'price'"><span class="oi oi-bar-chart"></span></button>
        <hr>

        Finanzen.net<br>
        <textarea id="inArea" [(ngModel)]="inArea" [ngModelOptions]="{standalone: true}" style="width: 90%; background: rgb(241, 239, 223);"></textarea>
        <br>
        <button (click)="transferData()"><span class="oi oi-share"></span></button>

        <hr>

        Single values<br>
        <div class="input-group" style="margin: 5px;">
            <input class="form-control" placeholder="yyyy-mm-dd"
                  name="singleDat" [(ngModel)]="singleDat" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span class="oi oi-calendar"></span></button>
            </div>
            
        </div>
        <div class="input-group" style="margin: 5px;">            
            <input type="number" class="form-control" id="price" name="price" [(ngModel)]="price"
                    placeholder="price" aria-label="price" aria-describedby="pricelabel" required>
            <div class="input-group-append">
              <span class="input-group-text" id="pricelabel" style="font-size: 80%;">
                <span *ngIf="type=='dividend'">{{currency}}</span>
                <span *ngIf="type=='price'">EUR</span>
              </span>
            </div>
        </div>
        <button (click)="transferSinglePrice()"><span class="oi oi-share"></span></button>
      </div>
      <div class="col-md-8">
          <button (click)="saveData(currency)" style="margin: 5px"><span class="oi oi-cloud-upload"></span></button>          

          <table class="table" style="fill: 100%">
              <thead class="thead-dark">
            <tr>
              <th scope="col-lg-2">Date</th>
              <th scope="col-lg-2">{{title}}</th>
              <th scope="col-sm">Status</th>
              <th scope="col-sm">Delta %</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let price of prices">
              <td>{{price.date}}</td>
              <td>{{price.price}}</td>
              <td>
                <div class="oi oi-cloud" *ngIf="price.inDB"></div>&nbsp;
                <div class="oi oi-eye" *ngIf="price.estimated == true && type == 'dividend'"></div>
                <div class="oi oi-pulse" *ngIf="price.estimated == false && type == 'dividend'"></div>
              </td>
              <td>{{price.deltaPercentage}} %</td>
            </tr>
            </tbody>
            </table>
      </div>  
    </div>
  </form>
</div>